body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: pink;

}
h1 {
    font-size:3em;
    color: white;
    text-align: center;
    margin-top:2em;
    font-family: "Playfair Display", serif;
}

h2 {
    font-family: "Playfair Display", serif;
}

li {
    font-family: "EB Garamond", serif;
}

p {
    font-family: "EB Garamond", serif;
}

a {
    color:white;
    text-decoration: none;
}
a:hover {
    color:white;
    text-decoration:underline;
}
img:hover {
    transform: scale(1.1);
}
* {
    transition:all 0.3s ease;
}
.card {
    background-color:white;
    padding:20px;
    margin:30px 0;
    margin-left:100px;
    margin-right:100px;
    border-radius:20px;
    box-shadow: 0 2px 5px rbga(0,0,0,0.1);
}
.card:hover {
    box-shadow: 0 5px 15px rbga(0,0,0,0.3);
    transform:translateY(-5px);
}
.my-button {
    background-color: deeppink;
    color:white;
    padding:10px 20px;
    border:none;
    border-radius:none;
    cursor:pointer;
    font-size:16px;
    margin-left:100px;
    margin-right:100px;
}
.my-button:hover {
    background-color: powderblue;
    transform:scale(1.05);
}

.about-me {
    font-family: "EB Garamond", serif;
}
