@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 20px;
    background-color: #e4e4e4;
    transition: fadeIn 3s ease-in-out;
}