body {
    font-family:'Courier New', Courier, monospace;
    font-size:medium; 
    background-color: purple;
    line-height:2em; 
}

/* the row of fonts shows the order or priority - if the browser does not */
/* support the first one, it will automatically go to the second option.*/

h1 { 
    font-size: 2.8em;
    color: lightblue; 
}

h1:hover { 
    text-decoration: underline;
    font-style: bold;
    color: gold
}
/*note: can't transform text */ 

.blurb { 
    color: gold; 
    margin: 50px 500px 30px 500px; 
    animation: fadeIn 1.5s forwards; 
    text-decoration: bold; 
}

.blurb:hover { 
    color: navy; 
    text-decoration: underline; 
}

.big-heading { 
    font-size: 3em; 
    font-family:Georgia; 
    background-color: navy; 
    padding: 30px 40px; 
    margin: 25px 300px 25px 300px;
    border-radius: 20px;
    text-align: center;
    line-height: 1.5; 
}

h2 { 
    font-style:oblique; 
    font-size: 2em; 
    color: navy;
}

.container-rows { 
    display:flex; 
    flex-direction: row; 
    align-items: center;
    align-content: stretch;
    justify-content: center; 
    gap: 20px; 
}

.text-image-container { 
    display: flex; 
    flex-direction: row; 
    gap: 50px;  
    align-items: center; 
    flex-wrap: wrap;  
    justify-content: center; 
}

.text-block1 { 
    flex: 1; 
    padding:0; 
}

.image-wrapper {
    flex: 1; 
    flex-shrink: 0; /* Prevents the image from shrinking too much if space is tight */
    justify-content: center;
    align-content: center;

}

.image-wrapper img {
    max-width: 58%; /* Ensures the image scales down to fit its container */ 
    height: auto;/* Maintains aspect ratio */
    display: block;
    border-radius: 4px;
    justify-content: center;
}

#img1:hover { 
    transform:scale(1.4) 
}


.divider { 
    max-width: 100%; 
    width: 100px; 
    height: auto;
    justify-content: center; 
    align-content: center; 
} 


.diffHeading { 
    text-align: center;
    font-size: 1.5em; 
    font-family:Georgia; 
    background-color: lightblue; 
    padding: 10px;  
    border-radius: 10px; 
    margin: 0px 30px 20px 30px;
}

.diffHeading:hover{ 
    font-size: 3em; 
    color: magenta; 
    transform: translate(-5px) 
}

/* a is usually a small piece of body text that serves as a link */ 

a { 
    color: purple; 
    text-decoration: none; 
    display:inline-block; 
    margin-left:10px;
}

/*hover = stating what happens when the cursor hovers over element 'a'. If that -> this*/ 
a:hover { 
    color: blue;
    text-decoration: underline 
}

/*img -> referring it to my stupid cat */ 
/*transform - changes the size. Scaling it by a factor of 1.1, so not much */  
/*
img:hover { 
    transform: scale(2) rotate(360deg) 
} */

/* '*' here is referring to every transition in the code, nothing specific.  */
/*'0.3s ease' just means pausing 0.3 seconds before activating the effect */ 
* { 
    transition: all 0.3s ease;
} 

/*Can create a card style that lifts up on hover */ 
/*This is the default card style for the cards that are not cut in half. */

.card { 
    background-color:rgb(243, 247, 249); 
    padding: 20px; 
    margin: 30px 400px 30px 400px; 
    border-radius: 10px; 
    box-shadow: 0 2px 5px rgba(0,0, 0, 0.3)
} 

.card:hover { 
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    transform: translate(-5px) 
}

.partial-card { 
    background-color:rgb(243, 247, 249); 
    padding: 20px; 
    border-radius: 10px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    width: 400px; 
    margin: 10px;
} 

.partial-card:hover { 
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); 
    transform: translate(-5px); 
}

.and { 
    font-family:Georgia; 
    color: gold; 
    font-style:oblique;
}

.and:hover { 
    text-decoration: underline; 
}
/*can create a button that changes on being hovered*/ 

.my-button { 
    background-color: navy; 
    color: lightblue; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 16px;
}

.button-align { 
    display:flex; 
    flex-direction: row; 
    justify-content: center;

}

.my-button:hover{ 
    background-color: magenta;
    transform: scale(1.5);
}

/*can also create a list, where list items light up on being hovered over*/ 
li:hover{
    background-color: navy;
    padding-left: 10px; 
    color: magenta
}
/*while the list is inside the card, it can still be edited individually. */
/* padding left = padding solely on the left side i think*/ 










































